body {
  margin: 0;
  padding: 5%;
  font-family: sans-serif;
  background-image: url('https://media.giphy.com/media/3og0IV7MOCfnm85iRa/giphy.gif');
  background-size: cover;
}

.formNav {
  padding: 0% 0% 5% 0%;
  width: 30%;
  align: center;
  display: inline-block;
}

.ui.centered.image {
  width: auto;
  height: 160px;
  overflow: hidden;
}

.spaceCard {
  padding: 5%;
  height: 80%
}

.description {
  overflow: hidden;
}

.ui.centered.card {
  height: 300px;
}

#nav_header {
  color: white;
  font-size: 60px;
}
